
div.center
  div#confirmation
    p To activate your account, follow the link included in the email that we just sent to:

    p
      a(href="mailto:" + email)=email

    p To use understoodit.com your students do <b>not</b> need to create an account, they simply have to go to:

    p
      a(href="http://understoodit.com/" + screenName)="understoodit.com/" + screenName
