for template in jsIncludes.templates
  script(src='/javascripts/' + template + ".js") 

for library in jsIncludes.libraries
  script(src='/javascripts/lib/' + library + ".js")

script(src='/javascripts/' + jsIncludes.app + ".js")

for module in jsIncludes.modules
  script(src='/javascripts/modules/' + module + ".js") 

script(src='/javascripts/start.js")



