doctype 5
html(lang="en")
  head
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title understoodit
    meta(name="viewport", content="initial-scale=1.0, maximum-scale=1.0, width=device-width, width=device-width")
    
    if environment == 'production'
      meta(name="font", href="http://f.fontdeck.com/s/css/D8Fz3XWt+VC0VDejQHe7Mks5Qzc/understoodit.com/18157.css")
    else
      meta(name="font", href="http://f.fontdeck.com/s/css/D8Fz3XWt+VC0VDejQHe7Mks5Qzc/0.0.0.0/18157.css")



    link(rel='stylesheet', href='/stylesheets/app.css')
    
  body!= body
    div#loading
      div Loading understoodit...



    if environment == 'production'
      script(src='/javascripts/app.min.js')
      script(type="text/javascript")
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-1004776-6']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        
    else
      != partial('jsIncludes')

    script(type="text/javascript")
      $(function(){
        var href= $("meta[name=font]").attr('href');
        $('head title').after($('<link>')
          .attr({
            rel : 'stylesheet',
            href : href
          }))
      })
