doctype 5
html(lang="en")
  head
    title understoodit
    meta(name="viewport", content="initial-scale=1,user-scalable=no,maximum-scale=1")
    
    if environment == 'production'
      link(rel="stylesheet", href="http://f.fontdeck.com/s/css/D8Fz3XWt+VC0VDejQHe7Mks5Qzc/understoodit.com/18157.css", type="text/css")
    else
      link(rel="stylesheet", href="http://f.fontdeck.com/s/css/D8Fz3XWt+VC0VDejQHe7Mks5Qzc/0.0.0.0/18157.css", type="text/css")

    link(rel='stylesheet', href='/stylesheets/app.css')
    
  body!= body
    div#loading
      div Loading understoodit...




    if environment == 'production'
      script(src='/javascripts/app.min.js')
    else
      != partial('jsIncludes')