doctype 5
html(lang="en")
  head
    title understoodit
    link(rel="stylesheet", href="http://f.fontdeck.com/s/css/D8Fz3XWt+VC0VDejQHe7Mks5Qzc/0.0.0.0/18157.css", type="text/css")
    link(rel='stylesheet', href='/stylesheets/app.css')
  body!= body
    div#loading
      div Loading understoodit...




    if environment == 'production'
      script(src='/javascripts/app.js')
    else
      != partial('jsIncludes')