if success
  p Your password has been reset. We have sent you a link to help you change your password.
else

  form(action="/reset", method="post")
    h1 Reset Password

    if errors.length > 0
      ul.errors
        for error in errors
          li= error
    div
      label(for="email") Email
      input(type="text", name="email")
    div
      input(type="submit",value="Reset")