
border-radius()
   -webkit-border-radius arguments
   -moz-border-radius arguments
   border-radius arguments

#loading
  text-align: center
  margin: 0

  div
    background: whitesmoke
    width: 300px
    margin: 40px auto
    padding: 30px 20px
    border-radius 5px
    border: 1px solid #ccc