
border-radius()
   -webkit-border-radius arguments
   -moz-border-radius arguments
   border-radius arguments

background-gradient(start, stop)
  background-color: start
  background-image: -moz-linear-gradient(top, start, stop)
  background-image: -ms-linear-gradient(top, start, stop)
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(start), to(stop))
  background-image: -webkit-linear-gradient(top, start, stop)
  background-image: -o-linear-gradient(top, start, stop)
  background-image: linear-gradient(top, start, stop)





#loading
  text-align: center
  margin: 0

  div
    background: whitesmoke
    width: 300px
    margin: 40px auto
    padding: 30px 20px
    border-radius 5px
    border: 1px solid #ccc

body
  margin 0
  padding 0
  text-align center


body, input,textarea
  font-family:"VAG Rundschrift Light", sans-serif 
  font-size-adjust: 0.504
  font-weight: 200 
  font-style: normal
a
  text-decoration none

.container
  margin 0 auto
  padding 0 5px
  text-align left
 
  position relative

.navbar
  background #0583C6
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  height 100%

  .brand
    font-size: 30px
    color: #fff  

  ul
    display inline-block
    margin 0
    padding 0
    height 100%

    li
      display inline-block
      list-style none
      height 100%

      a
        display inline-block
        background: #1B75B9;
        height: 22px;
        padding: 12px 10px 0 10px;
        color: white;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;

    li.active
      a
        background #444

  .pull-right
    position absolute
    right 15px
    top: -3px

  #nav-tabs
    margin-left 20px
    height 100%
    position: relative
    top: -3px

div.meters

  height: 46px
  position: relative
  border: 1px solid #ccc
  background: whiteSmoke
  border-radius: 2px
  box-shadow: inset 0 0 6px #ccc;

div.meters .rt-text
  z-index: 10
  text-align: center
  position: absolute
  top: 5px
  width: 100%
  font-size: 160%
  font-weight: bold
  text-shadow: 0px 1px 1px #EEE


#notification-box
  margin 5px 0
  height: 40px

.meter-outer
  margin: 20px 0

.meter-outer h2
  margin: 0


#confusometer-inner
  background-gradient(#EE5F5B, #BD362F)

#understandometer-inner
  background-gradient(#62C462, #51A351)

.rt-inner 
  height: 46px
  border-radius: 2px


.tab-page
  display: none

.tab-page.active
  display: block


.tab-content
  border-top: 1px solid #ccc


#teacherID
  background: #0583C6
  display: inline-block
  padding: 4px 10px
  color: white
  font-size: 120%
  border-top-left-radius: 5px;

.num-outer
  display: inline-block

.num-outer div
  padding: 4px 10px
  color: white
  background: #444
  font-size: 120%

#numStudents
  margin: 0 -4px
#active
  background: #bbb
  border-top-right-radius: 5px;

#comprehension

  padding: 10px 0
  border-bottom: 1px solid #ccc
  
  a
    text-align: center
    font-size: 140%
    padding: 8px 0
    border: 1px solid #ccc
    border-radius: 4px
    color: #fff
    text-shadow: 1px 1px #444
    box-shadow: inset 0 0 8px #fff;

  a:hover
    border: 1px solid #222

#understood
  background: green
  
#confused
  background: red

#understood.inactive, #confused.inactive
  background: #777
  cursor: default


#understood.inactive:hover, #confused.inactive:hover
  border: 1px solid #ccc

#nav-collapse
  display:inline-block

#menu
  display: none

  a
    background: #444


#smallMenu
  display: none

#notification-message
  display: none
  border-radius: 4px
  padding: 5px
  color: #fff

#notification-message.success
  display: block
  background: green
  border: 1px solid #050

#notification-message.error
  display: block
  background: red
  border: 1px solid #500

#settings
  .row
    border-bottom: 1px solid #ccc

  .submit
    text-align: center;
    padding: 20px;

    input
      font-size: 200%
      border: 1px solid #ccc
      border-radius: 5px
      padding: 2px 10px;
      line-height: 40px;
      background: #eee

    input:hover
      border: 1px solid #aaa
      background: #ccc
  h4
    color: #1B75B9
    margin: 0 0 10px 0

  p
    padding: 4px 0
    margin: 0

  .span4
    width: 300px
    display:inline-block
    padding: 10px 0 


  .span8
    width: 200px
    display:inline-block
    padding: 10px 0
    vertical-align: top

@media (min-width: 960px)
  .container  
    width 960px

  .meter-outer
    width: 470px
    display: inline-block

  .meter-outer:first-child
    margin-right: 14px

  #comprehension a
    width: 466px
    display: inline-block

  #comprehension a:first-child
    margin-right: 14px

  #nav-collapse.collapse
    display:inline-block

  #nav-collapse
    display:inline-block



@media (min-width: 700px) and (max-width: 960px)
  .container
    width 100%

  .meter-outer
    width: 49%
    display: inline-block

  #comprehension a
    width: 49%
    display: inline-block

  #nav-collapse.collapse
    display:inline-block

  #nav-collapse
    display:inline-block

@media (min-width: 400px) and (max-width: 700px)
  .container
    width 500px
  
  .meter-outer
    width 500px

  #comprehension a
    width: 498px
    display: block

  #comprehension a:first-child
    margin-bottom: 10px

  .navbar #nav-tabs
    margin: 0

  .navbar ul
    display: block

    li a, li.active a
      background: none
      display:block

  #nav-collapse.collapse
    display:none

  #nav-collapse
    display: block
    padding: 10px 0



    ul
      position: relative
      right: 0
      top: 0
      margin: 0

      li
        display: block

  
  ul#menu
    display: inline-block
    position: absolute
    right: 0px

    a
      display: inline-block
      top: -2px

  



