body {
  text-align: center;
  font-family: verdana;
}
form {
  margin: 40px auto;
  padding: 10px;
  text-align: left;
  width: 400px;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
h1 {
  margin: 10px 0;
  text-align: center;
}
label {
  width: 180px;
  display: block;
  margin-top: 10px;
}
input {
  width: 388px;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: verdana;
}
div.action {
  text-align: right;
}
input[type=submit] {
  width: 80px;
  margin: 20px auto 0 auto;
}
