
div.contact-outer
  div.contact
    h1 Contact
    p If you're interested in finding out more about understoodit, or want to use it in your classroom, please contact Liam at 
      span#d

    h2 Twitter
    p.twitter
      a(href="https://twitter.com/understoodit", class="twitter-follow-button", data-show-count="false", data-size="large")Follow 
      script
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");


script
  (function() {
    setTimeout(function(){
      var a=document.createElement('a'),b="liam",c="@understoodit.com",s;a.href="mailto:"+b+c;a.textContent=b+c;s=document.getElementById('d');s.appendChild(a);
    },200);

  })();