doctype 5
html(lang="en")
  head
    title Understoodit - Measure Students' Understanding in Real-Time


    if(production)
      link(rel="stylesheet", href="http://f.fontdeck.com/s/css/D8Fz3XWt+VC0VDejQHe7Mks5Qzc/understoodit.com/18157.css", type="text/css")
    else
      link(rel="stylesheet", href="http://f.fontdeck.com/s/css/D8Fz3XWt+VC0VDejQHe7Mks5Qzc/0.0.0.0/18157.css", type="text/css")
    link(rel='stylesheet', href='/stylesheets/style.css')


  body!= body

    if(production)
      script(type="text/javascript")
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-1004776-6']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();


