<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a href="/" class="brand"></a>
      <ul id="menu">
        <li>
          <a href="#">Menu</a>
        </li>
      </ul>

      <div id="nav-collapse" class="collapse">
        <ul class="nav" id="nav-tabs">
          <li class="active">
            <a href="#dashboard" id="home" class="img-nav-tabs"></a>
          </li>
          <li>
            <a href="#questions" id="question" class="img-nav-tabs"> </a>
          </li>
        </ul>

        <ul class="nav pull-right nav-tabs" id="account-nav">

        </ul>
      </div>

    </div>
  </div>
</div>
<div class="container">
  <div id="notification-box">
    <div id="notification-message"></div>
  </div

  <div class="row">

    <div class="tab-content">

      <div class="tab-page fade active" id="dashboard">
        <div class="span12">
          <div id="dashboard-content">
          </div>
        </div>
      </div>


      <div class="tab-page fade" id="questions">

        <div class="span12">
          <div id="question-content">
            
          </div>
        </div>
      </div>


    </div>
  </div>
</div>