
p To finish creating your Understoodit.com account, click on the link below, or copy and paste it in your browser's navigation bar.

p
  a(href="http://" + link)=link

p To use understoodit.com your students do <b>not</b> need to create an account, they simply have to go to:

p
  a(href="http://understoodit.com/" + screenName)="understoodit.com/" + screenName

p Thank You!

