h1 Invitation from Understoodit.com

p You are invited to sign up for understoodit.com. After trying Understoodit.com we encourage you to let us know what you liked and you didn't like. We have setup a Google Group for feedback, bug reports and feature requests: <a href="https://groups.google.com/forum/#!forum/understoodit">Understoodit Google Group</a>.

p Understoodit.com is beta software and may have bugs and glitches - your patience is appreciated! Currently Understoodit.com has been tested in current versions of Chrome, Safari, mobile Safari and Firefox. At this time Internet Explorer is not supported.

p To register please click on the link below, or copy and paste it in your browser's navigation bar.

a(href='http://' + registrationLink)=registrationLink

p Regards,
  br 
  | Liam Kaufman
  br 
  | liam@understoodit.com