p Thank you for your interest in Understoodit.  

P To make Understoodit great we need your feedback. If you have questions regarding Understoodit, or have ideas on how we can make it more useful, contact us! 

p Currently, Understoodit.com is available to Toronto, Hamilton and Waterloo-based educators by invitation from us directly. Contact Liam Kaufman if you'd like an invitation.

p Understoodit.com will be made available publicly at the end of summer 2012.

p Cheers,
  br 
  | Liam Kaufman
  br 
  | liam@understoodit.com

