p Thank you for your interest in Understoodit.  

P To make Understoodit great, we need your feedback. If you have questions regarding Understoodit, or have ideas on how we can make it more useful, please post on our <a href="https://groups.google.com/forum/#!forum/understoodit">Understoodit Google Group</a>. 

P In the first two weeks after we launched, over 1,200 educators from more than two dozen countries have signed up for understoodit. We appreciate your interest and will do our best to send you an invitation as soon as possible.

p Regards,
  br 
  | Liam Kaufman
  br 
  | liam@understoodit.com

