p Thank you for your interest in Understoodit.  

P In order for Understoodit to be great we need your feedback. If you have questions regarding Understoodit, or have ideas on how we can make it more useful to you please contact Liam ( liam@understoodit.com ).

p If you're in the Toronto area and you'd like to see a demo of Understoodit, or use it in a summer class, please contact Liam.

p We  will send you an Understoodit account invitation upon receiving feedback from Toronto-based educators.

p Cheers,
  br Liam Kaufman

